{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% if registrationForm.vars.valid == false %}
        <div class="alert alert-danger" role="alert">
            {{ form_errors(registrationForm.username) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div> 
    {% endif %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
    <table class="form">
        <tbody>
            <tr>
                <td>Nom d'utilisateur</td>
                <td>{{ form_widget(registrationForm.username) }}</td>
            </tr>
            <tr>
                <td>Mot de passe</td>
                <td>{{ form_widget(registrationForm.plainPassword) }}</td>
            </tr>
            <tr>
                <td>Je vais pas faire n'importe quoi promis juré !</td>
                <td>{{ form_widget(registrationForm.agreeTerms) }}</td>
            </tr>
        </tbody>
    </table>
        <button type="submit" class="btn">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
