{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <br/>
    {% if is_granted('ROLE_USER') %}
    <a class="btn btn-outline-primary" href="{{ path('category_new') }}">Nouvelle catégorie</a>
    {% endif %}
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
                    {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    {% if is_granted('ROLE_USER') %}
    <a class="btn btn-outline-primary" href="{{ path('category_new') }}">Nouvelle catégorie</a>
    {% endif %}
{% endblock %}
