<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Mon blog</h1>
            <a class="btn btn-light" href="{{ path('post_index') }}">Liste des posts</a>
            <a class="btn btn-light" href="{{ path('category_index') }}">Liste des catégories</a>
            {% if is_granted('ROLE_USER')==false %}
            <a class="btn btn-warning" href="{{ path('app_register') }}">Inscription</a>
            <a class="btn btn-success" href="{{ path('app_login') }}">Connexion</a>
            {% else %}
            <a class="btn btn-danger" href="{{ path('app_logout') }}">Deconnexion</a>
            {% endif %}
        </header>
        <main>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
