{% extends 'base.html.twig' %}

{% block title %}Liste des posts{% endblock %}

{% block stylesheets %}
        <link href="{{ asset('public/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Liste des posts</h1>
    <br/>
    <a class="card-link btn btn-outline-primary" href="{{ path('post_new') }}">Nouveau post</a>
    <br/>
    {% for post in posts %}
    <div class="card">
        <h3 class="card-header">{{ post.title }}</h3>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Créé le {{post.created|date('d/m/Y')}} à {{post.created|date('H:i')}}</h6>
            <p class="card-text">{{ post.content }}</p>
            <a href="{{ path('post_show', {'id': post.id}) }}" class="card-link btn btn-primary">Voir le post</a>
            <a href="{{ path('post_edit', {'id': post.id}) }}" class="card-link btn btn-outline-primary">Editer le post</a>
        </div>
    </div>
    {% else %}
    <div class="alert alert-primary" role="alert">
        Il n'y a pas encore de post ici !
    </div>
    {% endfor %}
    <br/>
    <a class="card-link btn btn-outline-primary" href="{{ path('post_new') }}">Nouveau post</a>
{% endblock %}