{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <br/>
    {% if post.category is defined and post.category is not null %} <span class="badge rounded-pill bg-primary">{{ post.category }}</span> {% endif %} <span class="card-subtitle mb-2 text-muted">Créé le {{post.created|date('d/m/Y')}} à {{post.created|date('H:i')}}</span>
    <br/>
    <br/>
    <p>{{ post.content }}</p>
    <br/>
    <div class="multibutton">
        <a class="btn btn-primary" href="{{ path('post_index') }}">Retour à la liste</a>
        {% if is_granted('ROLE_USER') %}
        <a class="btn btn-outline-primary" href="{{ path('post_edit', {'id': post.id}) }}">Editer le post</a>
        {{ include('post/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
