{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <br/>
    <h6 class="card-subtitle mb-2 text-muted">Créé le {{post.created|date('d/m/Y')}} à {{post.created|date('H:i')}}</h6>
    <br/>
    <p>{{ post.content }}</p>
    <br/>
    <a class="btn btn-primary" href="{{ path('post_index') }}">Retour à la liste</a>
    <a class="btn btn-outline-primary"href="{{ path('post_edit', {'id': post.id}) }}">Editer le post</a>
    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
